# See https://prometheus.io/docs/alerting/configuration/ for documentation.

global:

route:
  # Grouping has no effect for gitlab (except delaying notification)
  group_by: [ '...' ]
  group_wait: 0s
  group_interval: 1h
  # If the same event repeats, we do not send a new alert before one day
  repeat_interval: 1d
  receiver: gitlab

  routes:
  - match:
      PRIORITY: 6
    receiver: ignore
    routes:
    # We raise alerts on interactive session opening (be it via SSH or locally)
    - match:
        SYSLOG_IDENTIFIER: systemd-logind
        CODE_FUNC: session_start
      receiver: gitlab

  # We don't need to be alerted for each sudo command run by interactive user, since we alert when
  # a user logs in
  - match_re:
      SYSLOG_IDENTIFIER: sudo
      _SYSTEMD_CGROUP: /user.slice/user-[0-9]+.slice/session-[0-9]+.scope
    receiver: ignore

  # we ignore failed logins via SSH
  # TODO : we'd like to count them (and maybe alert based on how many of them we see)
  - match:
      SYSLOG_IDENTIFIER: sshd
    routes:
    - match_re:
        MESSAGE: "error: kex_exchange_identification:.*"
      receiver: ignore
    - match_re:
        MESSAGE: "error: maximum authentication attempts exceeded for (root|invalid user).*"
      receiver: ignore
    - match_re:
        MESSAGE: "error: kex protocol error: type (2|3)0 seq .*"
      receiver: ignore
    - match:
        MESSAGE: "error: send_error: write: Connection reset by peer"
      receiver: ignore
    - match_re:
        MESSAGE: "error: Bad remote protocol version identification:.*"
      receiver: ignore
    - match_re:
        MESSAGE: "error: Protocol major versions differ:.*"
      receiver: ignore

  - match:
      SYSLOG_IDENTIFIER: systemd
      CODE_FUNC: unit_log_resources
    receiver: ignore

  - match:
      _EXE: /usr/sbin/nginx
    routes:
    - match_re:
        MESSAGE: .*SSL_do_handshake\(\) failed.*
      receiver: ignore
    - match_re:
        MESSAGE: ".*user \".*\"(: password mismatch| was not found).*"
      receiver: ignore

receivers:
- name: gitlab
  webhook_configs:
    - http_config:
        bearer_token: {{ gitlab_token }}
      send_resolved: true
      url: {{ gitlab_project_url }}/prometheus/alerts/notify.json
- name: ignore
  # Source : https://wrossmann.medium.com/suppressing-informational-alerts-with-prometheus-and-alertmanager-4237feab7ce9
